<!--chesschamp.html - template for chess championship database
 	Myles Darity-Reese, Sri
	28-Apr-2025 --><!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Super Grandmasters</h2>

<table>
  <tr>
    <th>Player</th>
    <th>Rating</th>
  </tr>
  	{% for players in elo %}
	  <tr>
		<td>{{ players['player_name'] }}</td>
		<td>{{ players['elo_rating'] }}</td>
	  </tr>
	{% endfor %}
</table>

</body>
</html>