<!--index.html - extends base.html
 	Myles Darity-Reese, Sri
	17-Apr-2025 -->

{% block content %}
<head><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"></head>

<h1 style = "font-family: 'Montserrat', sans-serif;color:darkolivegreen;">
     ChessSync 
    </h1>


<!--<body style="background-color: rgb(63, 63, 63);"> -->
<body style="background-color: rgb(39, 39, 39);"></body>

<center>
    <form id="playerForm" onsubmit="updateAction(event)">
    <label for="player" style = "color:white;">Player: </label>
    <input type="text" id="player" name="player"> <br><br>
    <input type="submit" style = "color:white; background-color:darkolivegreen;" value="Search">
    </form>
</center>


<script>
    function updateAction(event) {
        event.preventDefault(); // Prevent normal form submission
        const player = document.getElementById("player").value;
        const encodedPlayer = encodeURIComponent(player);
        window.location.href = `/${encodedPlayer}`;
    }
</script>

{% endblock %}

