<!-- index.html - extends base.html
     Myles Darity-Reese, Sri
     17-Apr-2025 -->

     <!DOCTYPE html>
     <html lang="en">
     <head>
         <meta charset="UTF-8">
         <title>ChessSync</title>
         <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
         <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
     </head>
     <body>

         <div class="header-container">
             <h1>ChessSync</h1><br>
             <a href="/" class="sick-button"><i class="fas fa-home"></i> Home</a>

         </div>
     
         <main>
             <h2>Learn</h2><br>
     
             <h3>Youtubers</h3><br>
             <ul>
                 <li><a href="https://www.youtube.com/@GothamChess">GothamChess</a></li>
                 <li><a href="https://www.youtube.com/@BotezLive">Botezlive</a></li>
                 <li><a href="https://www.youtube.com/@GMHikaru">GMHikaru</a></li>
                 <li><a href="https://www.youtube.com/@DanielNaroditskyGM">Daniel Naroditsky</a></li>
                 <li><a href="https://www.youtube.com/@GMIgorSmirnov">Remote Chess Academy</a></li>
                 <li><a href="https://www.youtube.com/@DinaBelenkaya">Dina Belenkaya</a></li>
             </ul>
     
             <h3>Websites</h3><br>
             <ul>
                 <li><a href="https://www.chess.com/courses/welcome">Chess.com Courses</a></li>
                 <li><a href="https://www.chessable.com">Chessable</a></li>
                 <li><a href="https://www.chess.com/lessons/learn-the-openings">Chess.com Openings</a></li>
                 <li><a href="https://www.chess.com/endgames">Chess.com End Games</a></li>
                 <li><a href="https://www.chess.com/practice">Chess.com Practice</a></li>
                 <li><a href="https://aimchess.com/">AimChess</a></li>
                 <li><a href="https://www.chess.com/learn">Chess.com Learn</a></li>
                 <li><a href="https://chessly.com/">Chessly (paid)</a></li>
             </ul>
         </main>
