<!--stats.html
 	Myles Darity-Reese, Sri
	17-Apr-2025 -->

    {% block content %}
    <head><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"></head>
    
    <h1 style = "font-family: 'Montserrat', sans-serif;color:darkolivegreen;">
         ChessSync 
        </h1>
    
    
    <!--<body style="background-color: rgb(63, 63, 63);"> -->
    <body style="background-color: rgb(39, 39, 39);"></body>

    <h2 style = "font-family: 'Montserrat', sans-serif;color:darkolivegreen;">
    <u>Stats</u>    
    {{stats['chess_rapid']['last']['rating']}}
    </h2>

    {% endblock %}
    