<!--stats.html
 	Myles Darity-Reese, Sri
	17-Apr-2025 -->

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ChessSync</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
       
    </head>
    <body>

    <div class="header-container">
        <h1>ChessSync</h1><br>
        <a href="/" class="sick-button"><i class="fas fa-home"></i> Home</a>
    </div>
    
    <!--<body style="background-color: rgb(63, 63, 63);"> -->
    <body style="background-color: rgb(39, 39, 39);"></body>

      <center>
    <h2><u>Rapid Record</u></h2>
    <p><strong>Current Rapid rating:</strong> {{ stats['chess_rapid'].get('last', {}).get('rating', 'N/A') }}</p>
    <p><strong>Best Rapid rating:</strong> {{ stats['chess_rapid'].get('best', {}).get('rating', 'N/A') }}</p>
    <p><strong>Wins:</strong> {{ stats['chess_rapid'].get('record', {}).get('win', 'N/A') }}</p>
    <p><strong>Draws:</strong> {{ stats['chess_rapid'].get('record', {}).get('draw', 'N/A') }}</p>
    <p><strong>Losses:</strong> {{ stats['chess_rapid'].get('record', {}).get('loss', 'N/A') }}</p>
</center>

<center>
    <h2><u>Blitz Record</u></h2>
    <p><strong>Current Blitz rating:</strong> {{ stats['chess_blitz'].get('last', {}).get('rating', 'N/A') }}</p>
    <p><strong>Best Blitz rating:</strong> {{ stats['chess_blitz'].get('best', {}).get('rating', 'N/A') }}</p>
    <p><strong>Wins:</strong> {{ stats['chess_blitz'].get('record', {}).get('win', 'N/A') }}</p>
    <p><strong>Draws:</strong> {{ stats['chess_blitz'].get('record', {}).get('draw', 'N/A') }}</p>
    <p><strong>Losses:</strong> {{ stats['chess_blitz'].get('record', {}).get('loss', 'N/A') }}</p>
</center>

<center>
    <h2><u>Bullet Record</u></h2>
    <p><strong>Current Bullet rating:</strong> {{ stats['chess_bullet'].get('last', {}).get('rating', 'N/A') }}</p>
    <p><strong>Best Bullet rating:</strong> {{ stats['chess_bullet'].get('best', {}).get('rating', 'N/A') }}</p>
    <p><strong>Wins:</strong> {{ stats['chess_bullet'].get('record', {}).get('win', 'N/A') }}</p>
    <p><strong>Draws:</strong> {{ stats['chess_bullet'].get('record', {}).get('draw', 'N/A') }}</p>
    <p><strong>Losses:</strong> {{ stats['chess_bullet'].get('record', {}).get('loss', 'N/A') }}</p>
</center>

<center>
    <h2><u>Puzzle Record</u></h2>
    <p><strong>Best Puzzle Rush score:</strong> {{ stats['puzzle_rush'].get('best', {}).get('score', 'N/A') }}</p>
</center>
